{% extends 'layouts/page.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/password-input/macro.njk" import govukPasswordInput %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if errorMessage %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [
            {
              text: errorMessage,
              href: "#username"
            }
          ]
        }) }}
      {% endif %}

      <h1 class="govuk-heading-l">Sign in</h1>

      <form method="post" action="/auth/login" novalidate>
        <input type="hidden" name="crumb" value="{{ crumb }}" />

        {{ govukInput({
          label: {
            text: "Username"
          },
          id: "username",
          name: "username",
          value: username,
          errorMessage: { text: errorMessage } if errorMessage else undefined,
          autocomplete: "username"
        }) }}

        {{ govukPasswordInput({
          label: {
            text: "Password"
          },
          id: "password",
          name: "password",
          autocomplete: "current-password"
        }) }}

        {{ govukButton({
          text: "Sign in"
        }) }}
      </form>

    </div>
  </div>
{% endblock %}
